@model TrashCollectorExercise.ViewModels.BalanceViewModel

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.balance)
        </dd>

   

     

        <dt>
            @Html.DisplayNameFor(model => model.customer.oneTimePickup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.oneTimePickup)
        </dd>

  

    </dl>
</div>
<div id="bill">
    Predicted Bill for month based on current suspentions and/or additional pickups:
    <span style="color:green; font-size: 32pt; font-weight: bold;">
        @Html.DisplayFor(model => model.predictedBalance)
    </span>
</div>


