@model IEnumerable<TrashCollectorExercise.Models.Customer>

@{
    ViewBag.Title = "FilterByDay";
}

<h2>FilterByDay</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pickupDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.streetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startBreak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endBreak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oneTimePickup)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.confirmed)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.pickupDay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.firstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.streetAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.city)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.zip)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.balance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.startBreak)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.endBreak)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.oneTimePickup)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.ApplicationId)
        </td>*@
    @*<td>
        @Html.DisplayFor(modelItem => item.confirmed)
    </td>*@
    <td>

        @Html.ActionLink("Details", "Details", new { id = item.Id }) |

    </td>
</tr>
    }

</table>

<div>
    <h1> Filter By Pick-up Day</h1>
    @Html.ActionLink("Sunday", "FilterByDay", new { day = 0 })
    @Html.ActionLink("Monday", "FilterByDay", new { day = 1 })
    @Html.ActionLink("Tuesday", "FilterByDay", new { day = 2 })
    @Html.ActionLink("Wednesday", "FilterByDay", new { day = 3 })
    @Html.ActionLink("Thursday", "FilterByDay", new { day = 4 })
    @Html.ActionLink("Friday", "FilterByDay", new { day = 5 })
    @Html.ActionLink("Saturday", "FilterByDay", new { day = 6 })
    @Html.ActionLink("Remove Filter", "Look", "Employee")

</div>
